<div class="footer-kuuka d-none d-sm-block">
  <div style="overflow: hidden;">
    <%= image_tag 'footer-bar.png', class: "footer-bar" %>
  </div>
  <div class="main-footer-info">
    <div class="footer-kuuka-branding">
      <div>
        <h1>Kuuka</h1>
        <p>We help you move every step of the way</p>
      </div>
    </div>
    <div class="footer-contact">
      <h5>Contact</h5>
      <p>contact@kuuka.com</p>
      <p>138 Kingsland, London, UK, E2 US7</p>
      <div class="social-links">
        <%= link_to 'https://www.facebook.com/kuukatech/', target: "_blank" do %>
          <div class="link-circle">
            <i class="fab fa-facebook-f"></i>
          </div>
        <% end %>
        <%= link_to 'https://www.instagram.com/kuukatech/', target: "_blank" do %>
          <div class="link-circle">
            <i class="fab fa-instagram"></i>
          </div>
        <% end %>
        <%= link_to 'https://www.twitter.com', target: "_blank" do %>
          <div class="link-circle">
            <i class="fab fa-twitter"></i>
          </div>
        <% end %>
        <%= link_to 'https://www.linkedin.com/company/kuuka-technologies-limited', target: "_blank" do %>
          <div class="link-circle">
            <i class="fab fa-linkedin-in"></i>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <hr style="margin-left: 5%; margin-right: 5%;">
  <div class="footer-bottom-links">
    <div class="kuuka-terms">
      <p style="margin-right: 10px;">Kuuka App All Rights Reserved</p>
      <%= link_to 'Terms & Conditions', root_path %>
    </div>
    <div class="seo">
      <p>Developed by: Hoxton Digital | <%= link_to 'London Web Development', 'https://www.hoxton-digital.com' %></p>
    </div>
  </div>
</div>

<div class="footer-kuuka d-block d-sm-none">
  <%= image_tag 'footer-bar.png' %>
  <div class="main-footer-info">
    <h1>Kuuka</h1>
    <p>We help you move every step of the way</p>
  </div>
  <div class="footer-contact">
    <h1>Contact</h1>
    <p>contact@kuuka.com</p>
    <p>138 Kingsland, London, UK, E2 US7</p>
  </div>
  <div class="kuuka-terms">
    <p style="margin-right: 10px;">Kuuka App All Rights Reserved</p>
    <%= link_to 'Terms & Conditions', root_path %>
  </div>
  <hr>
  <div class="social-links">
    <%= link_to 'https://www.facebook.com/kuukatech/', target: "_blank" do %>
      <div class="link-circle">
        <i class="fab fa-facebook-f"></i>
      </div>
    <% end %>
    <%= link_to 'https://www.instagram.com/kuukatech/', target: "_blank" do %>
      <div class="link-circle">
        <i class="fab fa-instagram"></i>
      </div>
    <% end %>
    <%= link_to 'https://www.twitter.com', target: "_blank" do %>
      <div class="link-circle">
        <i class="fab fa-twitter"></i>
      </div>
    <% end %>
    <%= link_to 'https://www.linkedin.com/company/kuuka-technologies-limited', target: "_blank" do %>
      <div class="link-circle">
        <i class="fab fa-linkedin-in"></i>
      </div>
    <% end %>
  </div>
  <p class="mobile-seo">Developed by: Hoxton Digital | <%= link_to 'London Web Development', 'https://www.hoxton-digital.com' %></p>
</div>
