<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path do %>
    <%= image_tag "kuuka-navbar-logo.png", height: 40 %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    Menu
    <%= image_tag 'hamburger.png', height: 20 %>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Storage", storages_path, style: "color: #3C56F1;", class: "nav-link nav-link-border-left nav-link-border-right" %>
      </li>
      <li class="nav-item">
        <%= link_to "List your Space", new_storage_path, style: "color: #00BDC7;", class: "nav-link nav-link-border-right" %>
      </li>
      <li class="nav-item">
        <%= link_to "Drivers", vehicles_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "How It Works", how_it_works_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", contact_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
