<h2>Congratulations, you just listed your vehicle with us!</h2>
<h3>Here are the details of your vehicle</h3>
<p>Make: <%= @vehicle.make %></p>
<p>Year: <%= @vehicle.year %></p>
<p>Owner: <%= @vehicle.owner ? 'yes' : 'no' %></p>
<p>Color: <%= @vehicle.color %></p>
<p>Inspection Card: <%= @vehicle.inspection_card %></p>
<p>Diesel: <%= @vehicle.diesel ? 'yes' : 'no' %></p>
<p>Property Insurance: <%= @vehicle.property_insurance ? 'yes' : 'no' %></p>
<p>Insurance: <%= @vehicle.insurance ? 'yes' : 'no' %></p>
