<div class="how-it-works-banner">
  <div class="how-it-works-banner-text">
    <h1>How does Kuuka work?</h1>
    <p>The platform will work in a mobile only application</p>
  </div>
</div>
<div class="container">
  <div class="how-it-works-tabs">
    <div id="tab-1" class="how-it-works-options how-it-works-active">
      <p>- Storage -</p>
    </div>
    <div id="tab-2" class="how-it-works-options">
      <p>- List Your Space -</p>
    </div>
    <div id="tab-3" class="how-it-works-options">
      <p>- Being A Driver -</p>
    </div>
  </div>
</div>
<div class="section-one all-sections">
  <div class="container" style="display: flex; justify-content: center; align-items: center; height: 100%;">
    <div class="section-container">
      <div class="how-it-works-top">
        <div class="how-it-works-flow">
          <%= image_tag 'kuuka-step-1.png' %>
          <div class="how-it-works-flow-info">
            <h1>Storage On Demand</h1>
            <p>Download Kuuka app on your App Store and press storage. you will then list the items</p>
          </div>
        </div>
        <div class="how-it-works-flow-image">
          <%= image_tag 'kuuka-vertical-dots.png', class: "kuuka-vertical-dots d-md-none"  %>
          <%= image_tag 'kuuka-dots-small.png', class: "kuuka-dots d-none d-md-block d-lg-none" %>
          <%= image_tag 'kuuka-dots.png', class: "kuuka-dots d-none d-lg-block" %>
        </div>
        <div class="how-it-works-flow">
          <%= image_tag 'storage-2.png' %>
          <div class="how-it-works-flow-info">
            <h1>List your items to store</h1>
            <p>You will be asked type of items, weight, number of items and a description of the goods you want stored.</p>
          </div>
        </div>
      </div>
      <div class="how-it-works-middle">
        <%= image_tag 'kuuka-vertical-dots.png', class: "kuuka-vertical-dots"  %>
      </div>
      <div class="how-it-works-bottom">
        <div class="how-it-works-flow">
          <%= image_tag 'kuuka-voila.png' %>
          <div class="how-it-works-flow-info">
            <h1>Voila</h1>
            <p>Your goods will be marked as stored and safe when they arrive to the location.</p>
          </div>
        </div>
        <div class="how-it-works-flow-image">
          <%= image_tag 'kuuka-vertical-dots.png', class: "kuuka-vertical-dots d-md-none"  %>
          <%= image_tag 'kuuka-dots-small.png', class: "kuuka-dots d-none d-md-block d-lg-none" %>
          <%= image_tag 'kuuka-dots.png', class: "kuuka-dots d-none d-lg-block" %>
        </div>
        <div class="how-it-works-flow">
          <%= image_tag 'storage-3.png' %>
          <div class="how-it-works-flow-info">
            <h1>Pick Storage & Transportation</h1>
            <p>Pick the space that best suits you and let us know if you need us to transport your goods.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-two all-sections" style="display: none;">
  <div class="container" style="display: flex; justify-content: center; align-items: center; height: 100%;">
    <div class="section-container">
      <div class="how-it-works-top">
        <div class="how-it-works-flow">
          <%= image_tag 'kuuka-step-1.png' %>
          <div class="how-it-works-flow-info">
            <h1>Storage On Demand</h1>
            <p>Download Kuuka app on your App Store and press storage. you will then list the items</p>
          </div>
        </div>
        <div class="how-it-works-flow-image">
          <%= image_tag 'kuuka-vertical-dots.png', class: "kuuka-vertical-dots d-md-none"  %>
          <%= image_tag 'kuuka-dots-small.png', class: "kuuka-dots d-none d-md-block d-lg-none" %>
          <%= image_tag 'kuuka-dots.png', class: "kuuka-dots d-none d-lg-block" %>
        </div>
        <div class="how-it-works-flow">
          <%= image_tag 'list-space-1.png' %>
          <div class="how-it-works-flow-info">
            <h1>Upload Space</h1>
            <p>You will be asked type of items, weight, number of items and a description of the goods you want stored.</p>
          </div>
        </div>
      </div>
      <div class="how-it-works-middle">
        <%= image_tag 'kuuka-vertical-dots.png', class: "kuuka-vertical-dots"  %>
      </div>
      <div class="how-it-works-bottom">
        <div class="how-it-works-flow">
          <%= image_tag 'kuuka-voila.png' %>
          <div class="how-it-works-flow-info">
            <h1>Voila</h1>
            <p>Your goods will be marked as stored and safe when they arrive to the location.</p>
          </div>
        </div>
        <div class="how-it-works-flow-image">
          <%= image_tag 'kuuka-vertical-dots.png', class: "kuuka-vertical-dots d-md-none"  %>
          <%= image_tag 'kuuka-dots-small.png', class: "kuuka-dots d-none d-md-block d-lg-none" %>
          <%= image_tag 'kuuka-dots.png', class: "kuuka-dots d-none d-lg-block" %>
        </div>
        <div class="how-it-works-flow">
          <%= image_tag 'list-space-2.png' %>
          <div class="how-it-works-flow-info">
            <h1>Receive Goods</h1>
            <p>You will be asked type of items, weight, number of items and a description of the goods you want stored.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-three all-sections" style="display: none;">
  <div class="container" style="display: flex; justify-content: center; align-items: center; height: 100%;">
    <div class="section-container">
      <div class="how-it-works-top">
        <div class="how-it-works-flow">
          <%= image_tag 'kuuka-step-1.png' %>
          <div class="how-it-works-flow-info">
            <h1>Storage On Demand</h1>
            <p>Download Kuuka app on your App Store and press storage. you will then list the items</p>
          </div>
        </div>
        <div class="how-it-works-flow-image">
          <%= image_tag 'kuuka-vertical-dots.png', class: "kuuka-vertical-dots d-md-none"  %>
          <%= image_tag 'kuuka-dots-small.png', class: "kuuka-dots d-none d-md-block d-lg-none" %>
          <%= image_tag 'kuuka-dots.png', class: "kuuka-dots d-none d-lg-block" %>
        </div>
        <div class="how-it-works-flow">
          <%= image_tag 'list-vehicle-1.png' %>
          <div class="how-it-works-flow-info">
            <h1>Upload Your Vehicle</h1>
            <p>You will be asked type of items, weight, number of items and a description of the goods you want stored.</p>
          </div>
        </div>
      </div>
      <div class="how-it-works-middle">
        <%= image_tag 'kuuka-vertical-dots.png', class: "kuuka-vertical-dots"  %>
      </div>
      <div class="how-it-works-bottom">
        <div class="how-it-works-flow">
          <%= image_tag 'kuuka-voila.png' %>
          <div class="how-it-works-flow-info">
            <h1>Voila</h1>
            <p>Download Kuuka App on your app store and press Storage. You will then list the </p>
          </div>
        </div>
        <div class="how-it-works-flow-image">
          <%= image_tag 'kuuka-vertical-dots.png', class: "kuuka-vertical-dots d-md-none"  %>
          <%= image_tag 'kuuka-dots-small.png', class: "kuuka-dots d-none d-md-block d-lg-none" %>
          <%= image_tag 'kuuka-dots.png', class: "kuuka-dots d-none d-lg-block" %>
        </div>
        <div class="how-it-works-flow">
          <%= image_tag 'list-vehicle-2.png' %>
          <div class="how-it-works-flow-info">
            <h1>Be Prepared</h1>
            <p>You will be asked type of items, weight, number of items and a description of the goods you want stored.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const tabOne = document.getElementById('tab-1');
  const tabTwo = document.getElementById('tab-2');
  const tabThree = document.getElementById('tab-3');
  const sectionOne = document.querySelector('.section-one');
  const sectionTwo = document.querySelector('.section-two');
  const sectionThree = document.querySelector('.section-three');

  tabOne.addEventListener('click', () => {
    tabOne.classList.add('how-it-works-active');
    tabTwo.classList.remove('how-it-works-active');
    tabThree.classList.remove('how-it-works-active');
    sectionOne.style.display = "";
    sectionTwo.style.display = "none";
    sectionThree.style.display = "none";
  });

  tabTwo.addEventListener('click', () => {
    tabTwo.classList.add('how-it-works-active');
    tabOne.classList.remove('how-it-works-active');
    tabThree.classList.remove('how-it-works-active');
    sectionTwo.style.display = "";
    sectionOne.style.display = "none";
    sectionThree.style.display = "none";
  });

  tabThree.addEventListener('click', () => {
    tabThree.classList.add('how-it-works-active');
    tabOne.classList.remove('how-it-works-active');
    tabTwo.classList.remove('how-it-works-active');
    sectionThree.style.display = "";
    sectionOne.style.display = "none";
    sectionTwo.style.display = "none";
  });
</script>
