<div class="storage-wrapper">
  <%= image_tag('list_your_space_background.png', class:'list-your-space-background') %>
  <div class="container">
    <div class="main-screen">
      <div class="main-title">
        <h1 class="title">List Your Space</h1>
        <%= image_tag('triangles.png') %>
        <p class="tag-line">Make money from your garage</p>
      </div>
      <p class="secondary-tag-line">Tess us about your property:</p>
    </div>
    <%= simple_form_for @storage do |f| %>
      <%= f.input :storage_type, as: :radio_buttons, collection: ['Spare room', 'Garage', 'Locked Space', 'Parking', 'House Space'] %>
      <%= f.input :size %>
      <%= f.input :weight_capacity %>
      <%= f.input :location %>
      <%= f.input :price_per_day %>
      <%= f.input :price_per_week %>
      <%= f.input :price_per_month %>
      <%= f.input :price_per_six_month %>
      <%= f.input :insurance %>
      <%= f.input :insurance_type %>
      <%= f.simple_fields_for :photos do |p| %>
        <%= p.input :url, as: :file, input_html: { multiple: true }, name:"photos[url][]" %>
        <%= p.input :url_cache, as: :hidden %>
      <% end %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
