<div class="storage-wrapper">
  <%= image_tag('list_your_space_background.png', class:'list-your-space-background') %>
  <div class="container">
    <div class="main-screen">
      <div class="main-title">
        <h1 class="title">List Your Space</h1>
        <%= image_tag('triangles.png') %>
        <p class="tag-line">Make money from your garage</p>
      </div>
      <p class="secondary-tag-line">Tess us about your property:</p>
    </div>
    <%= simple_form_for @storage do |f| %>
      <fieldset class="form-group radio_buttons required storage_storage_type">
        <input type="hidden" name="storage[storage_type]" value="">
        <div class="storage-types">
          <% @storage_types.each_with_index do |storage_type| %>
            <input class="form-check-input radio_buttons required d-none" type="radio" value="<%= storage_type %>" name="storage[storage_type]" id="storage_storage_type_<%= storage_type.downcase.split(' ').join('_') %>">
            <label class="storage-type collection_radio_buttons" for="storage_storage_type_<%= storage_type.downcase.split(' ').join('_') %>"><%= image_tag("type_#{storage_type.downcase.split(' ').join('_')}") %></label>
          <% end %>
        </div>
      </fieldset>
      <%= f.input :size %>
      <%= f.input :weight_capacity %>
      <%= f.input :location %>
      <%= f.input :price_per_day %>
      <%= f.input :price_per_week %>
      <%= f.input :price_per_month %>
      <%= f.input :price_per_six_month %>
      <%= f.input :insurance %>
      <%= f.input :insurance_type %>
      <%= f.simple_fields_for :photos do |p| %>
        <%= p.input :url, as: :file, input_html: { multiple: true }, name:"photos[url][]" %>
        <%= p.input :url_cache, as: :hidden %>
      <% end %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
<script>
  storageTypes = document.querySelectorAll('.storage-type');
  storageTypes.forEach((type) => {
    type.addEventListener('click', (event) => {
      checkedLabel = document.querySelector('input:checked');
      if (checkedLabel) {
        checkedLabel = checkedLabel.nextElementSibling;
        checkedLabel.classList.remove('active');
      }
      event.currentTarget.classList.add('active');
    })
  })
</script>
