<div class="storage-wrapper">
  <%= image_tag('list_your_space_background.png', class:'list-your-space-background') %>
  <div class="container">
    <div class="main-screen">
      <div class="main-title">
        <h1 class="title">List Your Space</h1>
        <%= image_tag('triangles.png') %>
        <p class="tag-line">Make money from your garage</p>
      </div>
      <p class="secondary-tag-line">Tess us about your property:</p>
    </div>
    <%= simple_form_for @storage do |f| %>
      <fieldset class="form-group radio_buttons required storage_storage_type">
        <input type="hidden" name="storage[storage_type]" value="">
        <div class="storage-types">
          <% @storage_types.each_with_index do |storage_type| %>
            <input class="form-check-input radio_buttons required d-none" type="radio" value="<%= storage_type %>" name="storage[storage_type]" id="storage_storage_type_<%= storage_type.downcase.split(' ').join('_') %>">
            <label class="storage-type collection_radio_buttons" for="storage_storage_type_<%= storage_type.downcase.split(' ').join('_') %>">
              <%= image_tag("type_#{storage_type.downcase.split(' ').join('_')}") %>
              <p><%= storage_type %></p>
            </label>
          <% end %>
        </div>
      </fieldset>
      <p class="form-label">Dimensions:</p>
      <fieldset class="form-group radio_buttons optional storage_unit">
        <input type="hidden" name="storage[unit]" value="">
        <div class="unit-div">
          <p>Unit</p>
          <div class="form-check">
            <input class="form-check-input radio_buttons optional" type="radio" value="m" name="storage[unit]" id="storage_unit_m">
            <label class="collection_radio_buttons" for="storage_unit_m">m</label>
          </div>
          <div class="form-check">
            <input class="form-check-input radio_buttons optional" type="radio" value="ft" name="storage[unit]" id="storage_unit_ft">
            <label class="collection_radio_buttons" for="storage_unit_ft">ft</label>
          </div>
        </div>
      </fieldset>
      <div class="new-storage-form-section space-between">
        <%= f.input :height, label: false, placeholder:'height', input_html: { class: 'new-storage-input'} %>
        <%= f.input :width, label: false, placeholder:'width', input_html: { class: 'new-storage-input'} %>
        <%= f.input :depth, label: false, placeholder:'depth', input_html: { class: 'new-storage-input'} %>
        <%= f.input :weight_capacity, label: false, placeholder:'weight capacity', input_html: { class: 'new-storage-input'} %>
      </div>
      <p class="form-label">Location:</p>
      <%= f.input :location, label: false, placeholder:'location', input_html: { class: 'new-storage-input'} %>
      <p class="form-label">Pricing:</p>
      <div class="new-storage-form-section space-between">
        <%= f.input :price_per_day, label: false, placeholder:'price per day', input_html: { class: 'new-storage-input'} %>
        <%= f.input :price_per_week, label: false, placeholder:'price per week', input_html: { class: 'new-storage-input'} %>
        <%= f.input :price_per_month, label: false, placeholder:'price per month', input_html: { class: 'new-storage-input'} %>
        <%= f.input :price_per_six_month, label: false, placeholder:'price per six month', input_html: { class: 'new-storage-input'} %>
      </div>
      <p class="form-label">Insurance:</p>
      <div class="new-storage-form-section">
        <%= f.input :insurance, label: false, placeholder:'insurance', input_html: { class: 'new-storage-input'} %>
        <%= f.input :insurance_type, label: false, placeholder:'insurance type', input_html: { class: 'new-storage-input'} %>
      </div>
      <div id="photo-preview-container">
        <%= f.simple_fields_for :photos do |p| %>
          <%= p.input :url, as: :file, input_html: { multiple: true, class: 'd-none', id:'photo-input' }, label_html: { class: 'upload-photo'}, label: "<p>Upload a photograph</p> #{image_tag('upload_image.png')}".html_safe, name:"photos[url][]", placeholder:'size', required: false %>
          <%= p.input :url_cache, as: :hidden %>
        <% end %>
        <div class="photo-previews"></div>
      </div>
      <p class="form-label">Tell us about you:</p>
      <div class="user-information">
        <div class="form-group">
          <input type="text" name="first_name", placeholder="first name" class="form-control" id="fname">
          <input type="text" name="last_name", placeholder="last name" class="form-control" id="lname">
        </div>
        <div class="form-group">
          <input type="text" name="email", placeholder="email" class="form-control" id="email">
          <input type="text" name="email_confirmation", placeholder="email confirmation" class="form-control" id="email_confirmation">
        </div>
        <p id="email-error-message" class="d-none">Emails don't match</p>
      </div>
      <%= f.button :button, type: :submit, class: 'no-padding' do %>
        <div class="submit-new-storage-btn">
          <p>Send my details</p><i class="fas fa-caret-right"></i>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<script>
  storageTypes = document.querySelectorAll('.storage-type');
  storageTypes.forEach((type) => {
    type.addEventListener('click', (event) => {
      checkedLabel = document.querySelector('input:checked');
      if (checkedLabel) {
        checkedLabel = checkedLabel.nextElementSibling;
        checkedLabel.classList.remove('active');
      }
      event.currentTarget.classList.add('active');
    })
  })
</script>
<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'components/photo_upload_preview' %>
  <%= javascript_pack_tag 'components/email_confirmation' %>
<% end %>
