<div class="vehicle-wrapper">
  <div class="container">
    <h1>Become a <span style="background: #54B3ED; border-radius: 3px; padding: 0 10px;">Driver</span></h1>
    <div class="new-vehicle-form">
      <%= simple_form_for @vehicle do |f| %>
        <p class="secondary-tag-line">Tell us about your vehicle:</p>
        <div class="new-storage-form-section">
          <%= f.input :make, label: false, placeholder:'make' %>
          <%= f.input :year, label: false, placeholder:'year' %>
        </div>
        <div class="new-storage-form-section">
          <%= f.input :owner, as: :select, label: false, prompt: 'owner' %>
          <%= f.input :color, label: false, placeholder:'color' %>
        </div>
        <div class="new-storage-form-section">
          <%= f.input :inspection_card, label: false, placeholder:'inspection card' %>
          <%= f.input :diesel, as: :select, label: false, prompt:'diesel' %>
        </div>
        <div class="new-storage-form-section">
          <%= f.input :property_insurance, label: false, placeholder:'property insurance' %>
          <%= f.input :insurance, label: false, placeholder:'insurance' %>
        </div>
        <div id="photo-preview-container">
          <%= f.simple_fields_for :photos do |p| %>
            <%= p.input :url, as: :file, input_html: { multiple: true, class: 'd-none', id:'photo-input' }, label_html: { class: 'upload-photo upload-photo-vehicle'}, label: "<p>Upload Photograph</p> #{image_tag('upload_image_vehicle.png')}".html_safe, name:"photos[url][]", placeholder:'size', required: false %>
            <%= p.input :url_cache, as: :hidden %>
          <% end %>
          <div class="photo-previews"></div>
        </div>
        <p class="secondary-tag-line">Tell us about you:</p>
        <div class="user-information">
          <div class="form-group">
            <input type="text" name="first_name", placeholder="first name" class="form-control" id="fname">
            <input type="text" name="last_name", placeholder="last name" class="form-control" id="lname">
          </div>
          <div class="form-group">
            <input type="text" name="email", placeholder="email" class="form-control" id="email">
            <input type="text" name="email_confirmation", placeholder="email confirmation" class="form-control" id="email_confirmation">
          </div>
          <p id="email-error-message" class="d-none">Emails don't match</p>
        </div>
        <%= f.button :button, type: :submit, class: 'no-padding' do %>
          <div class="submit-new-storage-btn submit-new-vehicle-btn">
            <p>Send my details</p><i class="fas fa-caret-right"></i>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'components/photo_upload_preview' %>
  <%= javascript_pack_tag 'components/email_confirmation' %>
<% end %>
