<div class="vehicle-wrapper">
  <div class="container">
    <h1>Become a Driver</h1>
    <div class="new-vehicle-form">
      <%= simple_form_for @vehicle do |f| %>
        <p class="secondary-tag-line">Tell us about your vehicle:</p>
        <div class="new-storage-form-section">
          <%= f.input :make, label: false, placeholder:'make' %>
          <%= f.input :year, label: false, placeholder:'year' %>
        </div>
        <div class="new-storage-form-section">
          <%= f.input :owner, as: :select, label: false, prompt: 'owner' %>
          <%= f.input :color, label: false, placeholder:'color' %>
        </div>
        <div class="new-storage-form-section">
          <%= f.input :inspection_card, label: false, placeholder:'inspection card' %>
          <%= f.input :diesel, as: :select, label: false, prompt:'diesel' %>
        </div>
        <div class="new-storage-form-section">
          <%= f.input :property_insurance, as: :select, label: false, prompt:'property insurance' %>
          <%= f.input :insurance, as: :select, label: false, prompt:'insurance' %>
        </div>
        <div id="photo-preview-container">
          <%= f.simple_fields_for :photos do |p| %>
            <%= p.input :url, as: :file, input_html: { multiple: true, class: 'd-none', id:'photo-input' }, label_html: { class: 'upload-photo upload-photo-vehicle'}, label: "<p>Upload Photograph</p> #{image_tag('upload_image_vehicle.png')}".html_safe, name:"photos[url][]", placeholder:'size', required: false %>
            <%= p.input :url_cache, as: :hidden %>
          <% end %>
          <div class="photo-previews"></div>
        </div>
        <p class="secondary-tag-line">Tell us about you:</p>
        <%= f.simple_fields_for :user, @vehicle.user do |u| %>
          <div class="new-storage-form-section">
            <%= u.input :first_name, label: false, placeholder: 'first name' %>
            <%= u.input :last_name, label: false, placeholder: 'last name' %>
          </div>
          <div class="new-storage-form-section">
            <%= u.input :email, label: false, placeholder: 'email' %>
          </div>
        <% end %>
        <%= f.button :button, type: :submit, class: 'no-padding' do %>
          <div class="submit-new-storage-btn submit-new-vehicle-btn">
            <p>Send my details</p><i class="fas fa-caret-right"></i>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'components/photo_upload_preview' %>
  <%#= javascript_pack_tag 'components/email_confirmation' %>
<% end %>
